
<%= simple_form_for [@spectacle, @perform] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<%= @perform.spectacle.title %>
  <div class="form-inputs">

    <%#= f.input :start, as: :datetime %>
    <%= f.input :start, as: :datetime, label:'Launch Date & Time', class: "form-control form-control-lg", input_html: {value: params[:start]}, wrapper_html: { class: 'mb-3' }, html5: true %>

   <%# mapbox address autocomplete %>
    <p><strong>Current address : </strong><%= @perform.address %><p>
    <%= f.input :address,
      input_html: {
        data: {address_autocomplete_target: "address"},
        class: "d-none"
      },
      wrapper_html: {
        data: {
          controller: "address-autocomplete",
          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]
        }
      }
    %>
    <%= f.input :collected %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
