<div class="p4">
  <p class="mb-0"><strong><%= perform.title %></strong></p>
  <p class="mb-0"><%= perform.start %></p>
  <p class="mb-0"><%#= perform.start.strftime('%I:%M | %a %d %B') %></p>
  <p class="mb-0"><%= perform.collected %></p>

  <%= simple_form_for(perform) do |f| %>
  <%= f.input :collected %>
  <% end %>
</div>
