<div class="img_container">
  <%#= cl_image_tag("#{perform.spectacle.photos}", height: 450, width: 800, :crop=>"limit") %>
  <% perform.spectacle.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 450, width: 800, crop: :fill %>
  <% end %>
  <%# c'est mis a fonctionner d'un coup - peut être y à t'il une latence avec cloudinary,
  j'ai eu plusieur fois cette impression en liant des images %>


  <%# perform.spectacle.photos.each do |photo| %>
    <%#= cl_image_tag("#{photo}", height: 900, width: 1600, :crop=>"limit") %>
  <%# end %>


</div>
<div id="<%= dom_id perform %>" class="p-4">
  <h2 class="pt-4">
    <%= perform.spectacle.title %>
  </h2>
  <p class="mb-0">
    <strong>Dateu:</strong>
    <%= perform.start != nil ? (perform.start.strftime('%H:%M | %a %d %^b')) : () %>
    <%#= perform.start.strftime('%I:%M | %a %d %B') %>
  </p>
  <p class="mb-0">
  <strong>@Date:</strong>
  <%= @date %>

  </p>
  <p class="mb-0">
    <strong>Address:</strong>
    <%= perform.address %>
  </p>

  <p class="mb-0">

    <div data-controller="insert-in-collection">
      <strong>Collected:</strong>
      <%= form_for perform do |form| %>
        <p class="mb-0"><strong>
          <%#= form.label :collected, "Collected" %>
        </strong></p>
        <%= form.check_box :collected %>
        <%= form.submit "ok" %>
      <%#= perform.collected %>
    <% end %>
    </div>
  </p>


</div>
