<div id="<%= dom_id perform %>" class="card p-4">
  <p class="mb-0">
    <strong>Company:</strong>
    <%= perform.company %>
  </p>
  <p class="mb-0">
    <strong>Title:</strong>
    <%= perform.title %>
  </p>
  <p class="mb-0">
    <strong>Date:</strong>
    <%= perform.start_time.strftime('%I:%M | %a %d %B') %>
    <strong>@debut in show : </strong><%= @debut %>

    <%#= render "start_time ", perform: @perform %>
  </p>

  <p class="mb-0">
    <strong>Address:</strong>
    <%= perform.address %>
  </p>

  <p class="mb-0">
    <strong>Collected:</strong>
    <%= perform.collected %>

  </p>

</div>
