<h1>Editing perform</h1>
    <% @perform.spectacle.photos.each do | photo | %>
      <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
      <p><strong>photo key :</strong> <%= photo.key %></p>
    <% end %>
<%#= cl_image_tag("#{@perform.spectacle.photo}", height: 90, width: 160, :crop=>"limit") %></strong></p>
<p class="mb-0"><strong>spectacle :</strong><%= @perform.spectacle.title %> (@perform.spectacle.title)</p>
<p class="mb-0"><strong>company :</strong><%= @perform.spectacle.company %> (@perform.spectacle.company)</p>
<p class="mb-0"><strong>spectacle id :</strong><%= @perform.spectacle.id %> (@perform.spectacle.id)</p>
<p class="mb-0"><strong>perform.spectacle_id :</strong><%= @perform.spectacle_id %> (@perform.spectacle_id)</p>
<p class="mb-0"><strong>perform.id :</strong><%= @perform.id %> (@perform.id)</p>

<div class="card p-4">
  <%= render "form" %>
</div>

<br>

<div>
  <%= link_to "Show this perform", @perform %> |
  <%= link_to "Back to performs", performs_path %> |
</div>
