<p style="color: green"><%= notice %></p>

<h1>Performs</h1>

<div id="performs" class="cards">
  <% @performs.each do |perform| %>
        <div class="card no_link">
      <%= link_to perform do %>
          <%= render perform, perform:@perform %>
      <% end %>
        </div>
  <% end %>
</div>

<div style="width: 100%; height: 600px; margin-top:3rem;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
