<h1>New perform</h1>
<%#= cl_image_tag("#{@perform.spectacle.photo}", height: 90, width: 160, :crop=>"limit") %>
<p><strong>Hello

<ul>
  <li>Spectacle : <strong><%= @spectacle.title %></strong> (@spectacle.title)</li>
  <li>Company : <strong><%= @perform.company %></strong> (@perform.company)</li>
  <li>ID : <strong><%= @spectacle.id %></strong> (@spectacle.id)</li>

</ul>

</strong></p>
<div class="card p-4">
  <%= render "form", perform: @perform, spectacle:@spectacle %>
</div>
<br>

<div>
  <%= link_to "Back to performs", performs_path %>
</div>
