<h1>New perform</h1>

  <div class="d-flex mb-4">
    <div>
      <% @spectacle.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
      <% end %>
    </div>
    <ul>
      <li><strong>Spectacle : </strong><%= @spectacle.title %> (@spectacle.title)</li>
      <li><strong>Company : </strong><%= @perform.company %> (@perform.company)</li>
      <li><strong>ID : </strong><%= @spectacle.id %> (@spectacle.id)</li>
    </ul>
  </div>


<div class="card p-4">
  <%= render "form", perform: @perform %>
  <%#= render "form", perform: @perform, spectacle:@spectacle %>

</div>
<br>

<div>
  <%= link_to "Back to performs", performs_path %>
</div>
