<p style="color: green"><%= notice %></p>
<div id="show" class="card p-4">

  <%= render @perform %>




  <div>
    <p>
      <%= link_to "Back", :back %> |
      <%= link_to "Editer cette représentation", edit_perform_path(@perform) %> |
      <%= link_to "Delete",
      perform_path(@perform),
      data: {turbo_method: :delete, turbo_confirm: "delete this spectacle ?"} %>
    </p>
  </div>

</div>
