<p style="color: green"><%= notice %></p>
<div class="d-flex p-2">
<%= render @perform %>


</div>

<div>
  <%= link_to "Edit this perform", edit_perform_path(@perform) %> |
  <%= link_to "Back to performs", performs_path %>

  <%= button_to "Destroy this perform", @perform, method: :delete %>
</div>
