<p style="color: green"><%= notice %></p>
<div id="show" class="card p-4">

  <%= render @perform %>


  <div>
    <%= link_to "Back to performs", performs_path %>
    <%= link_to "Edit this perform", edit_perform_path(@perform) %> |
    <%= button_to "Destroy this perform", @perform, method: :delete %>
  </div>
</div>
