
<%= simple_form_for(@spectacle) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div>
    <% @spectacle.photos.each do | photo | %>
      <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
      <p><strong>photo key :</strong> <%= photo.key %></p>
    <% end %>
  </div>
    <%= f.input :photos, as: :file, input_html:{ multiple: true } %>
    <%= f.input :title %>
    <%= f.input :description %>

  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
