<p style="color: green"><%= notice %></p>
<div id="show" class="card p-4">
  <%= render @spectacle %>
  <p class="">
    <%= @spectacle.description %>
  </p>
  <p>Représentations</p>
  <%#= render "performs", :spectacle(@spectacle) %>
  <p>* * * * * * * * * * *</p>
  <div class="cards">
    <% @spectacle.performs.each do | perform | %>
      <%= render "performs/small_perform", perform: perform, spectacle:@spectacle %>
    <% end %>
  </div>

  <div class="mt-4">
  <p> <%= link_to "Back to spectacles", spectacles_path %> |
    <%= link_to "Edit this spectacle", edit_spectacle_path(@spectacle) %> |
    <%= link_to "Ajouter une représentation", new_spectacle_perform_path(@spectacle) %> |
    <%= link_to "Delete",
    spectacle_path(@spectacle),
    data: {turbo_method: :delete, turbo_confirm: "delete this spectacle ?"} %>
    </p>

    <%#= button_to "Destroy this spectacle", @spectacle, method: :delete %>
  </div>
</div>
