<!DOCTYPE html>
<html>
  <head>
    <title>Festival</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render partial: "layouts/navbar" %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Prochaine représentation <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Mettre ici le prochain spectacles avec un compteur "commence dans  ... minutes</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
